<h1>Cestinha de Cupcakes</h1>
<div ng-show="vm.cart && vm.cart.length > 0">
  <div class="grid">
    <div class="flavour" ng-repeat="item in vm.cart">
      <div class="image">
        <img ng-src="{{item.item.imageUrl}}" alt="{{item.item.name}}" title="{{item.item.name}} / {{item.item.description}}">
      </div>
      <div class="description">
        <h3 class="title">{{item.item.name}}</h3>
        <h3 class="title">{{((item.quantity * item.item.price) / 100) | currency:"R$"}}</h3>
        <p class="info"><strong>{{item.quantity}}</strong> unidade(s)</p>
        <div>
          <button type="button" class="button flat" ng-click="vm.decrease(item, true)" ng-show="item.quantity > 1"><span class="material-icons">remove</span></button>
          <button type="button" class="button flat" ng-click="vm.decrease(item, false)"><span class="material-icons">add</span></button>
          <button type="button" class="button" ng-click="vm.delete(item)"><span class="material-icons">delete</span></button>
        </div>
      </div>
    </div>
  </div>
  <h2>Total: {{(vm.cartTotal / 100) | currency:"R$"}}</h2>
  <div class="actions">
    <button type="button" ng-click="vm.goBack()" class="button flat">Quero Mais!</button>
    <button type="button" ng-click="vm.goToCheckout()" class="button submit">Pagar</button>
  </div>
</div>
<div class="padding" ng-show="!vm.cart || vm.cart.length === 0">
  <div class="flavour">
    <h3>Sua cestinha está vazia :-(</h3>
    <span class="material-icons big-icon">shopping_basket</span>
    <p>Clique no botão abaixo para cadastrar alguns produtos</p>
    <button type="button" ng-click="vm.goHome()" class="button">Comprar</button>
  </div>
</div>
