<div class="grid" ng-show="vm.items">
  <div class="flavour" ng-repeat="item in vm.items">
    <div class="image">
      <img ng-src="{{item.imageUrl}}" alt="{{item.name}}" title="{{item.name}} / {{item.description}}">
    </div>
    <div class="description">
      <h3 class="title">{{item.name}}</h3>
      <p class="info">{{item.description}}</p>
      <h3 class="title">{{(item.price / 100) | currency:"R$"}}</h3>
      <button type="button" class="button">Eu quero esse!</button>
    </div>
  </div>
</div>
<div class="grid" ng-show="!vm.items">
  <h3>Empty</h3>
</div>
