<div class="grid">
  <div class="flavour">
    <div class="image">
      <img src="http://is4.mzstatic.com/image/thumb/Purple127/v4/74/47/31/7447317e-9844-3ee0-d189-661a55c94abe/source/1200x630bb.jpg" alt="Cupcake">
    </div>
    <button type="button" class="button">Eu quero esse!</button>
  </div>
  <div class="flavour">
    <div class="image">
      <img src="http://is4.mzstatic.com/image/thumb/Purple127/v4/74/47/31/7447317e-9844-3ee0-d189-661a55c94abe/source/1200x630bb.jpg" alt="Cupcake">
    </div>
    <button type="button" class="button">Eu quero esse!</button>
  </div>
  <div class="flavour">
    <div class="image">
      <img src="http://is4.mzstatic.com/image/thumb/Purple127/v4/74/47/31/7447317e-9844-3ee0-d189-661a55c94abe/source/1200x630bb.jpg" alt="Cupcake">
    </div>
    <button type="button" class="button">Eu quero esse!</button>
  </div>
  <div class="flavour">
    <div class="image">
      <img src="http://is4.mzstatic.com/image/thumb/Purple127/v4/74/47/31/7447317e-9844-3ee0-d189-661a55c94abe/source/1200x630bb.jpg" alt="Cupcake">
    </div>
    <button type="button" class="button">Eu quero esse!</button>
  </div>
  <div class="flavour">
    <div class="image">
      <img src="http://is4.mzstatic.com/image/thumb/Purple127/v4/74/47/31/7447317e-9844-3ee0-d189-661a55c94abe/source/1200x630bb.jpg" alt="Cupcake">
    </div>
    <button type="button" class="button">Eu quero esse!</button>
  </div>
  <div class="flavour">
    <div class="image">
      <img src="http://is4.mzstatic.com/image/thumb/Purple127/v4/74/47/31/7447317e-9844-3ee0-d189-661a55c94abe/source/1200x630bb.jpg" alt="Cupcake">
    </div>
    <button type="button" class="button">Eu quero esse!</button>
  </div>
</div>
