<div class="grid" ng-show="vm.items">
  <div class="flavour" ng-repeat="item in vm.items">
    <div class="image">
      <img ng-src="{{item.imageUrl}}" alt="{{item.name}}" title="{{item.name}} / {{item.description}}">
    </div>
    <div class="description">
      <h3 class="title">{{item.name}}</h3>
      <p class="info">{{item.description}}</p>
      <h3 class="title">{{(item.price / 100) | currency:"R$"}}</h3>
      <button type="button" class="button" ng-click="vm.addToCart(item)">Eu quero esse!</button>
    </div>
  </div>
</div>
<div class="padding" ng-show="!vm.items || vm.items.length === 0">
  <div class="flavour">
    <h1>Nenhum cupcake está cadastrado :-(</h1>
    <i class="material-icons big-icon">sentiment_dissatisfied</i>
    <p>Clique no botão abaixo para cadastrar alguns produtos</p>
    <button type="button" ng-click="vm.goToUpdate()" class="button">Adicionar</button>
  </div>
</div>
