<h1>Atualizar ítens disponíveis</h1>
<form ng-submit="vm.submit()" name="form" novalidate>
  <div class="input-container">
    <label>Field</label>
    <input type="text" ng-model="vm.form.field" name="field" placeholder="Field">
  </div>
  <div class="input-container">
    <label>Field</label>
    <input type="text" ng-model="vm.form.field" name="field" placeholder="Field">
  </div>
  <div class="actions">
    <button type="button" ng-click="vm.goBack()" class="button flat">Voltar</button>
    <button type="reset" class="button reset">Limpar</button>
    <button type="submit" class="button submit">Cadastrar</button>
  </div>
</form>
