html {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #f9f9f9;
  color: #333;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  color: #999;
}

.big-icon {
  font-size: 192px;
  height: 192px;
  line-height: 192px;
  width: 192px;
  text-align: center;
  margin-bottom: 0.3em;
  color: #ccc;
}

.color {
  color: #ffc967;
  text-shadow: 0px 5px 15px rgba(255, 201, 153, 0.4);
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.actions.right {
  align-items: flex-end;
}

.actions>* {
  margin-left: 1em;
}

.action {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.action:hover, .action:visited {
  color: #fff;
  text-decoration: none;
}

.action.logo {
  background-color: #fff;
  padding: 0px 1.5em;
  border-radius: 30px;
  width: auto;
  max-width: 115px;
}

.banner {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #CEF3F2;
  background: -webkit-linear-gradient(left, #CEF3F2, #D6F9D4);
  background: -moz-linear-gradient(left, #CEF3F2, #D6F9D4);
  background: -ms-linear-gradient(left, #CEF3F2, #D6F9D4);
  background: -o-linear-gradient(left, #CEF3F2, #D6F9D4);
  background: linear-gradient(to right, #CEF3F2, #D6F9D4);
}

.header {
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  background-color: #ff8c67;
  background: -webkit-linear-gradient(left, #ff8c67, #ffc967);
  background: -moz-linear-gradient(left, #ff8c67, #ffc967);
  background: -ms-linear-gradient(left, #ff8c67, #ffc967);
  background: -o-linear-gradient(left, #ff8c67, #ffc967);
  background: linear-gradient(to right, #ff8c67, #ffc967);
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  box-shadow: 0px 5px 15px rgba(255, 201, 153, 0.4);
  box-sizing: border-box;
  color: #fff;
}

.header-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-actions>* {
  margin-left: 2em;
}

.banner img, .header img {
  height: 70%;
  width: auto;
}

.content {
  margin-top: 5px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  padding-top: 2em;
  padding-bottom: 6em;
}

.padding {
  padding-left: 6em;
  padding-right: 6em;
}

@media all and (max-width: 980px) {
  .padding {
    padding-left: 2em;
    padding-right: 2em;
  }
}

.content>.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 30em;
  grid-gap: 2em;
}

.flavour {
  padding: 0.5em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.flavour .image {
  width: 100%;
  height: 13em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flavour .image img {
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.flavour .description {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: bottom;
  flex-direction: column;
  height: 11em;
  width: 100%;
  margin-top: 0.5em;
}

.flavour .description>* {
  align-self: center;
  align-content: center;
  margin: 0px;
}

.flavour .description .info {
  color: #bbb;
  font-size: 0.7em;
  letter-spacing: 1px;
  margin-bottom: 0.5em;
}

.flavour .description .title {
  color: #ffc967;
}

.flavour .description .button {
  margin-top: 0.5em;
}

.footer {
  width: 100%;
  color: #aaa;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  flex-wrap: wrap;
}

.button {
  height: 40px;
  border-radius: 20px;
  padding: 1em 2em;
  background-color: #ff8c67;
  background: -webkit-linear-gradient(left, #ff8c67, #ffc967);
  background: -moz-linear-gradient(left, #ff8c67, #ffc967);
  background: -ms-linear-gradient(left, #ff8c67, #ffc967);
  background: -o-linear-gradient(left, #ff8c67, #ffc967);
  background: linear-gradient(to right, #ff8c67, #ffc967);
  color: white;
  border: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button:hover:enabled {
  cursor: pointer;
  text-decoration: none;
  background: -webkit-linear-gradient(left, #ffc967, #ff8c67);
  background: -moz-linear-gradient(left, #ffc967, #ff8c67);
  background: -ms-linear-gradient(left, #ffc967, #ff8c67);
  background: -o-linear-gradient(left, #ffc967, #ff8c67);
  background: linear-gradient(to right, #ffc967, #ff8c67);
  box-shadow: 0px 5px 15px rgba(255, 201, 153, 0.9);
}

.button.flat {
  color: #666;
  background-color: #fff;
  background: -webkit-linear-gradient(left, #f1f1f1, #fff);
  background: -moz-linear-gradient(left, #f1f1f1, #fff);
  background: -ms-linear-gradient(left, #f1f1f1, #fff);
  background: -o-linear-gradient(left, #f1f1f1, #fff);
  background: linear-gradient(to right, #f1f1f1, #fff);
}

.button.flat:hover:enabled {
  background-color: #f1f1f1;
  background: -webkit-linear-gradient(left, #fff, #f1f1f1);
  background: -moz-linear-gradient(left, #fff, #f1f1f1);
  background: -ms-linear-gradient(left, #fff, #f1f1f1);
  background: -o-linear-gradient(left, #fff, #f1f1f1);
  background: linear-gradient(to right, #fff, #f1f1f1);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.button.submit {
  background-color: #C5F061;
  background: -webkit-linear-gradient(left, #43A78B, #C5F061);
  background: -moz-linear-gradient(left, #43A78B, #C5F061);
  background: -ms-linear-gradient(left, #43A78B, #C5F061);
  background: -o-linear-gradient(left, #43A78B, #C5F061);
  background: linear-gradient(to right, #43A78B, #C5F061);
}

.button.submit:hover:enabled {
  background-color: #43A78B;
  background: -webkit-linear-gradient(left, #C5F061, #43A78B);
  background: -moz-linear-gradient(left, #C5F061, #43A78B);
  background: -ms-linear-gradient(left, #C5F061, #43A78B);
  background: -o-linear-gradient(left, #C5F061, #43A78B);
  background: linear-gradient(to right, #C5F061, #43A78B);
  box-shadow: 0px 5px 15px rgba(67, 167, 139, 0.3);
}

.button:disabled, .button[disabled] {
  cursor: not-allowed;
  background: #eee;
  color: #aaa;
  box-shadow: none;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1em;
}

.input-container label {
  font-size: 0.8em;
  color: #999;
}

.input-container input {
  height: 2em;
  line-height: 2em;
  border: none;
  border-bottom: 1px solid #f0f0f0;
  background: transparent;
  color: #666;
  font-size: 1em;
  transition: border-bottom 300ms ease-in-out;
}

.input-container input:focus {
  outline: none;
}

.input-container input::placeholder {
  color: #f0f0f0;
}

.input-container input.ng-touched.ng-valid {
  border-bottom: 1px solid #3F939B;
}

.input-container input.ng-touched.ng-invalid {
  border-bottom: 1px solid #FF7B66;
}

.input-hints {
  width: 100%;
  color: #aaa;
  font-size: 0.8em;
}

.input-hints {
  margin: 0.3em 0px;
}

.sweet-alert>div {
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(255, 140, 103, 0.4);
  background-color: rgba(255, 140, 103, 0.9);
  background: -webkit-linear-gradient(left, rgba(255, 140, 103, 0.9), rgba(255, 201, 103, 0.9));
  background: -moz-linear-gradient(left, rgba(255, 140, 103, 0.9), rgba(255, 201, 103, 0.9));
  background: -ms-linear-gradient(left, rgba(255, 140, 103, 0.9), rgba(255, 201, 103, 0.9));
  background: -o-linear-gradient(left, rgba(255, 140, 103, 0.9), rgba(255, 201, 103, 0.9));
  background: linear-gradient(to right, rgba(255, 140, 103, 0.9), rgba(255, 201, 103, 0.9));
}

.sweet-alert>div>span {
  color: #fff;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
}

.cart-badge {
  color: #fff;
  font-size: 0.8em;
  font-weight: bolder;
  text-align: middle;
  vertical-align: middle;
}

.button, .action {
  padding-top: unset;
  padding-bottom: unset;
  height: 3em;
  line-height: 3em;
}

.button>.material-icons, .action>.material-icons {
  vertical-align: middle;
}
